@media (min-width: 640px) {
  main {
    max-width: 70%;
  }

  .container > header > .introduction > .title {
    font-size: 5rem;
    margin: auto;
  } 

  .container > header > .introduction > .description {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .container > form {
    padding: 2rem 3rem;
  }

  .container > form > .name-email-company-employers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}