body {
  display: flex;

  background-image: url(../img/background@3x.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

body * {
  font-family: "Be Vietnam Pro", sans-serif;
}

main {
  margin: auto;
}

.container {
  max-width: 30rem;

  margin: auto;
}

.container > header {
  color: var(--white);
}

.container > header > .div-image > .logo {
  width: 10rem;
}

.container > header > .introduction {
  margin-top: 1.5rem;

  text-align: center;
}

.container > header > .introduction > .title {
  font-size: 3rem;
}

.container > header > .introduction > .description {
  font-size: 1.2rem;

  line-height: 2rem;

  margin-top: 1rem;
}

.container > form {
  width: 100%;

  border-radius: 1rem;

  margin-top: 1rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}

.container > form > .name-email-company-employers > .name-information,
.container > form > .name-email-company-employers > .company-email,
.container > form > .name-email-company-employers > .company-size {
  display: flex;
  flex-direction: column;
}

.container > form > .name-email-company-employers > .name-information > .name,
.container > form > .name-email-company-employers > .company-email > .name,
.container > form > .name-email-company-employers > .company-size > .name,
.container > form > .name-email-company-employers > .subject > .name {
  color: var(--white);

  font-size: 1.1rem;

  margin-bottom: .5rem;
}

.container > form > .name-email-company-employers > .name-information > .information, 
.container > form > .name-email-company-employers > .company-email > .information,
.container > form > .name-email-company-employers > .company-size > .choose-information,
.container > form > .name-email-company-employers > .subject > .choose-information {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;

  border-radius: 1rem;
  border: none;

  outline: none;
}

.container > form > .name-email-company-employers > .subject > .choose-information {
  width: 100%;
}

.container > form > .name-message {
  color: var(--white);

  font-size: 1.1rem;

  margin-bottom: .5rem;
}

.container > form > .box-text {
  height: 15rem;

  padding: 2rem;

  font-family: inherit;
  font-size: 1.1rem;

  border-radius: inherit;
  border: none;

  resize: none;
}

.container > form > button {
  margin-top: 2rem;
  padding: 1.5rem 1rem;

  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;

  border-radius: 1rem;
  border: none;

  color: var(--strong-purple);

  background-color: var(--white);

  transition: .2s;
}

.container > form > button:hover {
  background-color: var(--strong-purple);
  color: var(--white);
}