body {
  font-family: "Be Vietnam Pro", sans-serif;

  display: flex;
  height: 100vh;

  background-image: url(../img/background@3x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 35.5rem;

  margin: auto;
}

header {
  color: var(--white);
}

header > .logo {
  width: 8rem;
}

header > .introduction {
  margin-top: 2rem;

  text-align: center;
}

header > .introduction > .title {
  font-size: 3.5rem;

  width: 90%;

  margin: auto;
}

header > .introduction > .description {
  font-size: 1.5rem;

  margin-top: 2rem;
}

.container > form {
  background-color: red;

  border-radius: 1rem;

  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  
  padding: 1rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}

.container > form > legend {
  color: var(--white);
  font-size: 1.1rem;
}

.container > form > input, .container > form > select, .container > form > textarea {
  padding: 1.5rem 1rem;
  border-radius: inherit;
  border: none;
  margin-bottom: 1rem;
}